@{
    ViewBag.Title = "Gerengiador de Tarefas";
}
<div class="container">
    <form class="form-signin" onsubmit="return false;">
        <h1 class="text-center">Tela de Login</h1>
        <label for="username" class="sr-only">Usuário</label>
        <input type="text" id="username" class="form-control" placeholder="Informe seu nome" required="" autofocus="">
        <br />
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Informe sua senha" required="">
        <br />
        <button class="btn btn-lg btn-light btn-block" type="submit">Entrar</button>
        <br />
        <div class="alert alert-danger d-none" role="alert">#error message</div>
    </form>
</div>