@model IEnumerable<GerenciadorTarefas.Models.Tarefa>

@{
    ViewBag.Title = "Tarefas";
}

<h2>Tarefas</h2>
<button class="btn btn-light create">Nova Tarefa</button>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="concluido-@item.TarefaId" data-id="@item.TarefaId">
                    <label class="custom-control-label" for="concluido-@item.TarefaId">@Html.DisplayFor(modelItem => item.Titulo)</label>
                </div>
                <button class="btn btn-light edit" data-id="@item.TarefaId">Editar</button>
                <button class="btn btn-light delete" data-id="@item.TarefaId">Apagar</button>
            </div>
        </div>
    }
</div>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="TituloModal" aria-hidden="true">
    </div>
    @section scripts{
        <script>
            $(function () {
                $(".edit").click(function () {
                    var id = $(this).attr("data-id");
                    $("#modal").load("/Tarefas/Edit?id=" + id, function () {
                        $("#modal").modal('show');
                    })
                });
                $(".create").click(function () {
                    $("#modal").load("/Tarefas/Create", function () {
                        $("#modal").modal('show');
                    })
                });
                $(".delete").click(function () {
                    var id = $(this).attr("data-id");
                    $("#modal").load("/Tarefas/Delete?id=" + id, function () {
                        $("#modal").modal('show');
                    })
                });
            })
        </script>
    }
