body {
    padding-bottom: 20px;
    background-color: rgb(0, 121, 191) !important;
    color: #FFF !important;
}

.navbar-menu {
    background-color: rgb(2, 106, 167) !important;
}

.navbar-brand {
    color: #FFF !important;
}

@media screen and (max-width: 992px) {
    .navbar-sair {
        padding-right: 0px !important;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.modal-title, .modal-body {
    color: #212529 !important;
}

.card {
    margin: 15px;
}

.card-title {
    color: #212529 !important;
}